.triangleImgC {
  background: url(https://images.saymedia-content.com/.image/t_share/MTc3NTQ4MzEzNTU2NDI4Mjk2/math-how-to-calculate-the-angles-in-a-right-triangle.png);
  background-position: center;
  width: 7.5rem;
  height: 11.75rem;
  background-origin: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
