.triangleImg {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Trigonometry_triangle.svg/993px-Trigonometry_triangle.svg.png");
  background-position: center;
  width: 12rem;
  height: 12rem;
  background-origin: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1rem auto;
}
