.footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: auto;
  margin-top: 3rem;
  z-index: -1;
}

.heading-footer {
  font-size: 1.3rem;
  font-family: "Varela Round", sans-serif;
  color: blue;
}
.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: blue;
  margin: 0.5rem;
}
