@import url("https://fonts.googleapis.com/css2?family=Headland+One&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

html {
  background: url(https://images.pexels.com/photos/1029624/pexels-photo-1029624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: center;
}
.container {
  height: 100vh;
  width: 100vw;
}

.displayTabsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.tabsBtn {
  font-size: 1.1rem;
  padding: 0.1rem 0.3rem;
  margin: 0.5rem;
  width: 10rem;
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  background: rgb(132, 104, 255, 0.7);
  transition: 0.5s;
}
.tabsBtn:hover {
  background-color: rgb(132, 104, 255, 0.9);
  color: whitesmoke;
  transform: scale(1.1);
}
.heading {
  margin: 1.5rem;
  font-family: "Headland One", serif;
  font-size: 1.2rem;
  color: #341f97;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: blue;
  margin: 0.3rem;
}

@media (max-width: 460px) {
  .displayTabsBtn {
    flex-direction: column;
  }
}
